<TABLE>
<TR  bgcolor="#C0C0C0">
<TH>Hierarchy</TH>
<TH>Input</TH>
<TH>Constant Input</TH>
<TH>Unused Input</TH>
<TH>Floating Input</TH>
<TH>Output</TH>
<TH>Constant Output</TH>
<TH>Unused Output</TH>
<TH>Floating Output</TH>
<TH>Bidir</TH>
<TH>Constant Bidir</TH>
<TH>Unused Bidir</TH>
<TH>Input only Bidir</TH>
<TH>Output only Bidir</TH>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\generate_traffic_loop:3:traffic|Lane_up_condition_module</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\generate_traffic_loop:3:traffic</TD>
<TD >49</TD>
<TD >1</TD>
<TD >4</TD>
<TD >1</TD>
<TD >39</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\generate_traffic_loop:2:traffic|Lane_up_condition_module</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\generate_traffic_loop:2:traffic</TD>
<TD >49</TD>
<TD >1</TD>
<TD >4</TD>
<TD >1</TD>
<TD >39</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\generate_traffic_loop:1:traffic|Lane_up_condition_module</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\generate_traffic_loop:1:traffic</TD>
<TD >49</TD>
<TD >1</TD>
<TD >4</TD>
<TD >1</TD>
<TD >39</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\generate_traffic_loop:0:traffic|Lane_up_condition_module</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\generate_traffic_loop:0:traffic</TD>
<TD >49</TD>
<TD >1</TD>
<TD >4</TD>
<TD >1</TD>
<TD >39</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\Data_check_loop:3:Data_check</TD>
<TD >24</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\Data_check_loop:2:Data_check</TD>
<TD >24</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\Data_check_loop:1:Data_check</TD>
<TD >24</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\Data_check_loop:0:Data_check</TD>
<TD >24</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\Data_gen_loop:3:Data_gen</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\Data_gen_loop:2:Data_gen</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\Data_gen_loop:1:Data_gen</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|\Data_gen_loop:0:Data_gen</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_reset_control_0|g_rx.g_rx[0].g_rx.counter_rx_ready</TD>
<TD >4</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_reset_control_0|g_rx.g_rx[0].g_rx.counter_rx_digitalreset</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_reset_control_0|g_rx.g_rx[0].g_rx.counter_rx_analogreset</TD>
<TD >4</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_reset_control_0|g_rx.g_rx[0].g_rx.resync_rx_cal_busy</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_reset_control_0|g_tx.g_tx[0].g_tx.counter_tx_ready</TD>
<TD >4</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_reset_control_0|g_tx.g_tx[0].g_tx.counter_tx_digitalreset</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_reset_control_0|g_tx.g_tx[0].g_tx.counter_tx_analogreset</TD>
<TD >4</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_reset_control_0|g_tx.g_tx[0].g_tx.resync_tx_cal_busy</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_reset_control_0|g_pll.counter_pll_powerdown</TD>
<TD >4</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_reset_control_0|g_reset_sync.alt_xcvr_resync_reset</TD>
<TD >3</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_reset_control_0</TD>
<TD >33</TD>
<TD >16</TD>
<TD >1</TD>
<TD >16</TD>
<TD >25</TD>
<TD >16</TD>
<TD >16</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_native_a10_0|g_xcvr_native_insts[3].twentynm_xcvr_native_inst|twentynm_xcvr_native_inst|inst_twentynm_xcvr_avmm|avmm_atom_insts[0].avmm_reset_sync_inst</TD>
<TD >3</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_native_a10_0|g_xcvr_native_insts[3].twentynm_xcvr_native_inst|twentynm_xcvr_native_inst|inst_twentynm_xcvr_avmm</TD>
<TD >327</TD>
<TD >45</TD>
<TD >0</TD>
<TD >45</TD>
<TD >33</TD>
<TD >45</TD>
<TD >45</TD>
<TD >45</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_native_a10_0|g_xcvr_native_insts[3].twentynm_xcvr_native_inst|twentynm_xcvr_native_inst|inst_twentynm_pcs</TD>
<TD >510</TD>
<TD >31</TD>
<TD >4</TD>
<TD >31</TD>
<TD >647</TD>
<TD >31</TD>
<TD >31</TD>
<TD >31</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_native_a10_0|g_xcvr_native_insts[3].twentynm_xcvr_native_inst|twentynm_xcvr_native_inst|inst_twentynm_pma</TD>
<TD >201</TD>
<TD >17</TD>
<TD >0</TD>
<TD >17</TD>
<TD >182</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_native_a10_0|g_xcvr_native_insts[3].twentynm_xcvr_native_inst|twentynm_xcvr_native_inst</TD>
<TD >464</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >398</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_native_a10_0|g_xcvr_native_insts[3].twentynm_xcvr_native_inst</TD>
<TD >458</TD>
<TD >117</TD>
<TD >0</TD>
<TD >117</TD>
<TD >365</TD>
<TD >117</TD>
<TD >117</TD>
<TD >117</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_native_a10_0|g_xcvr_native_insts[2].twentynm_xcvr_native_inst|twentynm_xcvr_native_inst|inst_twentynm_xcvr_avmm|avmm_atom_insts[0].avmm_reset_sync_inst</TD>
<TD >3</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_native_a10_0|g_xcvr_native_insts[2].twentynm_xcvr_native_inst|twentynm_xcvr_native_inst|inst_twentynm_xcvr_avmm</TD>
<TD >327</TD>
<TD >45</TD>
<TD >0</TD>
<TD >45</TD>
<TD >33</TD>
<TD >45</TD>
<TD >45</TD>
<TD >45</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_native_a10_0|g_xcvr_native_insts[2].twentynm_xcvr_native_inst|twentynm_xcvr_native_inst|inst_twentynm_pcs</TD>
<TD >510</TD>
<TD >31</TD>
<TD >4</TD>
<TD >31</TD>
<TD >647</TD>
<TD >31</TD>
<TD >31</TD>
<TD >31</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_native_a10_0|g_xcvr_native_insts[2].twentynm_xcvr_native_inst|twentynm_xcvr_native_inst|inst_twentynm_pma</TD>
<TD >201</TD>
<TD >17</TD>
<TD >0</TD>
<TD >17</TD>
<TD >182</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_native_a10_0|g_xcvr_native_insts[2].twentynm_xcvr_native_inst|twentynm_xcvr_native_inst</TD>
<TD >464</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >398</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_native_a10_0|g_xcvr_native_insts[2].twentynm_xcvr_native_inst</TD>
<TD >458</TD>
<TD >113</TD>
<TD >0</TD>
<TD >113</TD>
<TD >365</TD>
<TD >113</TD>
<TD >113</TD>
<TD >113</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_native_a10_0|g_xcvr_native_insts[1].twentynm_xcvr_native_inst|twentynm_xcvr_native_inst|inst_twentynm_xcvr_avmm|avmm_atom_insts[0].avmm_reset_sync_inst</TD>
<TD >3</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_native_a10_0|g_xcvr_native_insts[1].twentynm_xcvr_native_inst|twentynm_xcvr_native_inst|inst_twentynm_xcvr_avmm</TD>
<TD >327</TD>
<TD >45</TD>
<TD >0</TD>
<TD >45</TD>
<TD >33</TD>
<TD >45</TD>
<TD >45</TD>
<TD >45</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_native_a10_0|g_xcvr_native_insts[1].twentynm_xcvr_native_inst|twentynm_xcvr_native_inst|inst_twentynm_pcs</TD>
<TD >510</TD>
<TD >31</TD>
<TD >4</TD>
<TD >31</TD>
<TD >647</TD>
<TD >31</TD>
<TD >31</TD>
<TD >31</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_native_a10_0|g_xcvr_native_insts[1].twentynm_xcvr_native_inst|twentynm_xcvr_native_inst|inst_twentynm_pma</TD>
<TD >201</TD>
<TD >17</TD>
<TD >0</TD>
<TD >17</TD>
<TD >182</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_native_a10_0|g_xcvr_native_insts[1].twentynm_xcvr_native_inst|twentynm_xcvr_native_inst</TD>
<TD >464</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >398</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_native_a10_0|g_xcvr_native_insts[1].twentynm_xcvr_native_inst</TD>
<TD >458</TD>
<TD >117</TD>
<TD >0</TD>
<TD >117</TD>
<TD >365</TD>
<TD >117</TD>
<TD >117</TD>
<TD >117</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_native_a10_0|g_xcvr_native_insts[0].twentynm_xcvr_native_inst|twentynm_xcvr_native_inst|inst_twentynm_xcvr_avmm|avmm_atom_insts[0].avmm_reset_sync_inst</TD>
<TD >3</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_native_a10_0|g_xcvr_native_insts[0].twentynm_xcvr_native_inst|twentynm_xcvr_native_inst|inst_twentynm_xcvr_avmm</TD>
<TD >327</TD>
<TD >45</TD>
<TD >0</TD>
<TD >45</TD>
<TD >33</TD>
<TD >45</TD>
<TD >45</TD>
<TD >45</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_native_a10_0|g_xcvr_native_insts[0].twentynm_xcvr_native_inst|twentynm_xcvr_native_inst|inst_twentynm_pcs</TD>
<TD >510</TD>
<TD >31</TD>
<TD >4</TD>
<TD >31</TD>
<TD >647</TD>
<TD >31</TD>
<TD >31</TD>
<TD >31</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_native_a10_0|g_xcvr_native_insts[0].twentynm_xcvr_native_inst|twentynm_xcvr_native_inst|inst_twentynm_pma</TD>
<TD >201</TD>
<TD >17</TD>
<TD >0</TD>
<TD >17</TD>
<TD >182</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_native_a10_0|g_xcvr_native_insts[0].twentynm_xcvr_native_inst|twentynm_xcvr_native_inst</TD>
<TD >464</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >398</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_native_a10_0|g_xcvr_native_insts[0].twentynm_xcvr_native_inst</TD>
<TD >458</TD>
<TD >117</TD>
<TD >0</TD>
<TD >117</TD>
<TD >365</TD>
<TD >117</TD>
<TD >117</TD>
<TD >117</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_native_a10_0|alt_xcvr_native_optional_rcfg_logic</TD>
<TD >290</TD>
<TD >104</TD>
<TD >134</TD>
<TD >104</TD>
<TD >260</TD>
<TD >104</TD>
<TD >104</TD>
<TD >104</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_native_a10_0</TD>
<TD >1440</TD>
<TD >1580</TD>
<TD >0</TD>
<TD >1580</TD>
<TD >1233</TD>
<TD >1580</TD>
<TD >1580</TD>
<TD >1580</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_atx_pll_a10_0|a10_xcvr_avmm_inst|avmm_atom_insts[0].avmm_reset_sync_inst</TD>
<TD >3</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_atx_pll_a10_0|a10_xcvr_avmm_inst</TD>
<TD >327</TD>
<TD >279</TD>
<TD >0</TD>
<TD >279</TD>
<TD >33</TD>
<TD >279</TD>
<TD >279</TD>
<TD >279</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_atx_pll_a10_0|a10_xcvr_atx_pll_inst</TD>
<TD >33</TD>
<TD >19</TD>
<TD >5</TD>
<TD >19</TD>
<TD >46</TD>
<TD >19</TD>
<TD >19</TD>
<TD >19</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_atx_pll_a10_0|alt_xcvr_atx_pll_optional_rcfg_logic</TD>
<TD >59</TD>
<TD >25</TD>
<TD >27</TD>
<TD >25</TD>
<TD >56</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR|xcvr_atx_pll_a10_0</TD>
<TD >104</TD>
<TD >189</TD>
<TD >1</TD>
<TD >189</TD>
<TD >90</TD>
<TD >189</TD>
<TD >189</TD>
<TD >189</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen|XCVR</TD>
<TD >536</TD>
<TD >413</TD>
<TD >1</TD>
<TD >413</TD>
<TD >536</TD>
<TD >413</TD>
<TD >413</TD>
<TD >413</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >\Connect_XVCR_Module_loop:0:XCVR_Module_gen</TD>
<TD >70</TD>
<TD >80</TD>
<TD >64</TD>
<TD >80</TD>
<TD >148</TD>
<TD >80</TD>
<TD >80</TD>
<TD >80</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
</TABLE>
